{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{% block title %} SchMgSoft {% endblock %}</title>

    <!-- CSS STYLES -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- HTML heads of different pages other than base.html -->
    {% block htmlhead %}

    {% endblock htmlhead %}


</head>

<body>

    <!-- Contents other than base.html -->
    {% block content %}


    {% endblock %}


    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>

</html>